@using Microsoft.AspNetCore.Components.Authorization
@using Blazor_WASM_Server.Shared

    <AuthorizeView>
        <Authorized>
            Hello, @context.User.Identity?.Name!
            <a href="MicrosoftIdentity/Account/SignOut">Log out Server</a>
        </Authorized>
        <NotAuthorized>
            @if (blazorMode == BlazorModes.Host)
            {
            <a href="MicrosoftIdentity/Account/SignIn?redirectUri=/svrHost">Log in Server</a>
            }
            else if (blazorMode == BlazorModes.Server)
            {
            <a href="MicrosoftIdentity/Account/SignIn?redirectUri=/svrWeb">Log in Server</a>
            }
            else if (blazorMode == BlazorModes.WASMServer)
            {
            <a href="MicrosoftIdentity/Account/SignIn?redirectUri=/svrWASM">Log in Server</a>
            }
            
            @*<a href="MicrosoftIdentity/Account/SignIn">Log in</a>*@
        </NotAuthorized>
    </AuthorizeView>

    @code
    {
        [CascadingParameter(Name = "BlazorMode")]
        private BlazorModes? blazorMode { get; set; }

    
    }
