@page "/svrWeb"

<PageTitle>Index</PageTitle>

<h1>Hello, world! - Client - Blazor Server</h1>

<div>This series of pages demonstrates pages hosted in the ClientServer project and served using Blazor Server</div>

<br/>
Welcome to your new app.
<br />
<SurveyPrompt Title="How is Blazor working for you?" />
