@page "/"
@*Add a server version of the page*@
@page "/svrWASM" 
@using Microsoft.AspNetCore.Components.Authorization
@using Blazor_WASM_Server.Shared

<AuthorizeView>
    <Authorized>
        @if (BlazorMode == BlazorModes.WASM)
        {
            <h1>Hello, world! - WASM</h1>
            <div>This series of pages demonstrates pages hosted in the Client project, and served using Web Assembly</div>
        }
        else
        {
            <div>Incorrect Blazor Mode prefix</div>
        }
        <br />
        Welcome to your new app.
        <br />
    </Authorized>
    <NotAuthorized>
        <h2>Please Login</h2>
    </NotAuthorized>
</AuthorizeView>



<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    [CascadingParameter(Name = "BlazorMode")]
    private BlazorModes? BlazorMode { get; set; }

}
