@page "/TestIFrame"
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager navMan
@attribute [Authorize]

<h3>WASM Component with Server Component in IFrame</h3>

<iframe width="1000" height="500" src="@url" frameborder="0" allowfullscreen></iframe>

@code {
    public string url => $"{navMan.BaseUri}svr/TestIFrame";
}
